# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# build outputs
build/
dist/
.next/
out/

# testing
coverage/

# environment files
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# misc system files
.DS_Store
*.log
*.eslintcache

# IDE
.idea/
